<form #basicForm="ngForm" (ngSubmit)="onBasicFormSubmit(basicForm.value)">
  <!-- <div class="section"> -->
  <!-- <p>I want to</p>
  <div class="container--btn">
    <button type="button" class="my-btn btn-in" (click)="isRent=false">Sell</button>
    <button type="button" class="my-btn btn-out" (click)="isRent=true">Rent</button>
  </div>
  </div> -->
  <div class="container--btn">
    <input
      type="radio"
      id="sell"
      name="transactionType"
      value="sell"
      [(ngModel)]="transactionType"
      (change)="isRent = false"
      hidden
    />
    <label class="my-btn btn-in" for="sell">Sell</label>

    <input
      type="radio"
      id="rent"
      name="transactionType"
      value="rent"
      [(ngModel)]="transactionType"
      (change)="isRent = true"
      hidden
    />
    <label class="my-btn btn-out" for="rent">Rent</label>
  </div>

  <div class="section">
    <p>BHK</p>
    <div class="container--btn">
      <button type="button" class="my-btn btn-in" (click)="selectedBHK=1">1</button>
      <button type="button" class="my-btn" (click)="selectedBHK=2">2</button>
      <button type="button" class="my-btn" (click)="selectedBHK=3">3</button>
      <button type="button" class="my-btn btn-out" (click)="selectedBHK=4">4</button>
    </div>
  </div>

  <div class="section">
    <p>Property of type</p>
    <div class="container--btn">
      <button type="button" class="my-btn btn-in" (click)="selectedPropertyType='house'">House</button>
      <button type="button" class="my-btn" (click)="selectedPropertyType='appartment'">Appartment</button>
      <button type="button" class="my-btn btn-out" (click)="selectedPropertyType='duplex'">Duplex</button>
    </div>
  </div>

  <div class="section">
    <p>Furnishing</p>
    <div class="container--btn">
      <button type="button" class="my-btn btn-in" (click)="selectedFurnishing='full'">Full</button>
      <button type="button" class="my-btn" (click)="selectedFurnishing='semi'">Semi</button>
      <button type="button" class="my-btn btn-out" (click)="selectedFurnishing='unfurnished'">Unfurnished</button>
    </div>
  </div>

  <div class="section">
   <input type="text" class="form-control" placeholder="City">
  </div>

  <div class="section">
    <button class="btn btn-primary" type="submit">Next</button>
  </div>
</form>
