.section{
  margin-top: 2rem;
}

.container--btn{
  display: flex;
  gap: 5px;
}

.my-btn{
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 0.3rem 1.5rem;
  font-size: 0.7rem;
}

.my-btn:focus{
  background-color: #5672cc;
  color: #fff;
}

.btn-in{
  border-radius: 20px 0 0 20px;
}

.btn-out{
  border-radius: 0 20px 20px 0;
}
