<div class="nav">
  <div class="nav--logo">
    <i class="fas fa-home"></i>
    <span class="logo__title">Housing</span>
  </div>
  <div class="nav--list">
    <ul>
      <li>
        <a routerLink="/home/buy" routerLinkActive="selected">Buy</a>
      </li>
      <li>
        <a routerLink="/home/rent" routerLinkActive="selected">Rent</a>
      </li>
      <li>
        <a routerLink="/home/list-property" routerLinkActive="selected">List Property</a>
      </li>
    </ul>
  </div>
  <div class="nav--login" *ngIf="!(loginService.currentUser$ | async)">
    <button class="btn--link" (click)="register()">Register</button>
    <button class="btn--link" (click)="login()">Login</button>
  </div>
  <div class="nav--login" *ngIf="(loginService.currentUser$ | async)">
    <button class="btn--link" (click)="logout()">Logout</button>
  </div>
</div>
