.container--overview{
  padding: 1rem 4rem;
}

.overview__body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.prop-value{
  margin-bottom: 1rem;
}

.prop-value p{
  padding: 0;
  margin: 0;
}
