.photos--container{
  height: 100vh;
  padding: 1rem;
}

.photos__selected{
  width: 90%;
  height: 70%;
}

.photos__selected img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gallery__container{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.photos__gallery {
  width: calc(200px * 4);
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.photos__photo {
  min-width: 100px;
  flex: 0 0 auto;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  box-shadow: 1.5px 1.5px 2px #eee,
  -1.5px -1.5px 2px #eee;
}

.photos__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

/* .photos__gallery{
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));

}

.photos__photo{
  padding: 0.8rem;
  box-shadow: 1.5px 1.5px 2px #eee,
  -1.5px -1.5px 2px #eee;
}

.photos__photo img{
  width: 100%;
  height: 100%;
} */
