/* You can add global styles to this file, and also import other style files */
:root{
  --regular-color: #ccc;
  --selected-color: #fff;
  --background-color: #000;
}

ul{
  list-style-type: none;
}

li a{
  color: black;
  text-decoration: none;
}

.l-grid{
  display: grid;
}

.l-grid--col-3{
  grid-template-columns: repeat(3, 1fr);
}
