/* You can add global styles to this file, and also import other style files */
:root{
  --regular-color: #ccc;
  --selected-color: #fff;
  --background-color: #000;
  --header-color: rgb(25, 125, 192);
}

ul{
  list-style-type: none;
}

li a{
  color: black;
  text-decoration: none;
}

.l-grid{
  display: grid;
}

.l-grid--col-2{
  grid-template-columns: repeat(2, 1fr);
}

.l-grid--col-3{
  grid-template-columns: repeat(3, 1fr);
}

.property--header{
  font-size: 3rem;
  color: var(--header-color);
  font-weight: 700;
  text-transform: capitalize;
}

.property--features{
  font-weight: 700;
}

.property-container{
  padding: 2rem;
  background-color: #fff;
  box-shadow: 5px 15px 10px 2px #ccc;
  overflow: hidden;
}

.barrier{
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.app-container{
  grid-gap: 2rem;
  padding: 3rem 1rem;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
