/* You can add global styles to this file, and also import other style files */
:root{
  --regular-color: #ccc;
  --selected-color: #fff;
  --background-color: #000;
  --header-color: rgb(25, 125, 192);
}

ul{
  list-style-type: none;
}

li a{
  color: black;
  text-decoration: none;
}

.l-grid{
  display: grid;
}

.l-grid--col-3{
  grid-template-columns: repeat(3, 1fr);
}

.property--header{
  font-size: 3rem;
  color: var(--header-color);
  font-weight: 700;
  text-transform: capitalize;
}

.property--features{
  font-weight: 700;
}

.barrier{
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}
