<div class="header">
  <h1>Login</h1>
  <button class="btn btn-close" (click)="cancelLogin()"></button>
</div>
<form class="login-form" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
  <div class="login__control">
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username"
        placeholder="Username" [(ngModel)]="user.username">
  </div>
  <div class="login__control">
    <label for="password">Password: </label>
    <input type="password" class="form-control" name="password"
        placeholder="password" [(ngModel)]="user.password">
  </div>
  <button class="btn btn-primary" type="submit">Login</button>

</form>
